/** Social footer and footer styles **/

.social-footer {
    background-color: #D3D3D3;
    padding: 0.2em 0em 0.2em 0em; 
}

.social-media a.facebook ,
.social-media a.google-plus ,
.social-media a.twitter ,
.social-media a.linkedin ,
.social-media a.pinterest ,
.social-media a.rss {
    border-radius: 20px;
}

.rpl-footer {
    background-color: #172B54;
    padding: 0.2em 0em 0.2em 0em; 
    border-top:1px solid #202020;
}

/** remove bitnami manage banner **/
#bitnami-banner {
  display: none;  
}